body, html {
    height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 1129px;
    max-width: 73.75rem;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}
.section {
    display: flex;
    justify-content: space-between;
}

.right {
    width: 40%;
}

.left {
    width: 40%;
}

.photo {
    width: 70%;
    height: 60%;
    margin-top: 30px;
    background-image: url('photo.jpg');
    background-position: center;
    background-size: cover;
}